.nav-text{
    text-decoration: none;
    font-weight: 600;
    margin-left: 15px;
    font-size: 20px;
    color: rgb(247, 247, 247);
    

}

#title{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:35px;
    padding-top:15px;
    font-family: lobster, cursive ;
   
  }
  #logo{
    width: 80px;
    
  }