.addProduct-form {
  padding-top: 50px;
  text-align: center;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 10px;
}

.input-style {
  max-width: 400px;
  margin: auto;
}

@media screen and (max-width:430px) {
  .input-style{
    width: 300px;
  }
}

