.googleSignIn{
   border:none;
   background-color: #ddd;
   font-size: 25px;
   width:400px;
   border-radius:5px;
   
}.googleSignIn:hover{
    background-color: rgb(206, 206, 206);
}
.icon{
    font-size: 40px;
}